.projects{
    padding: 2% 10%;
    height: 94vh;
    background-color: #0b0c10;
    transition: all ease-in 0.3s;
    color: #c5c6c7;
}
.projects__header{
    color: #66fcf1;
    font-size: 2rem;
    font-weight: lighter;
    padding-right: 1rem;
}
.projects > h1{
    margin-left:0.7%;
    font-size: 3rem;
    transition: all cubic-bezier(0, 0.51, 1, 0.82) 0.2s;
    font-weight: lighter;
}
.projects>h1:hover{
    color: #66fcf1;
    font-weight: 500;
}
.projects>h1::after{
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    position: relative;
    top: 0.2em;    
    background-color: #66fcf1;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    opacity: 0.7;
}
.projects>h1:hover::after{
    width:50%;
}
.projects__grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.singleproject{
    display: flex;
    width: 28%;
    border: 2px solid #66fcf14d;
    padding: 40px 21px;
    margin:5px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    border-radius: 10px;
    flex-direction: column;
}
.singleproject:hover{
    border-color: #66fcf1;
}
.singleproject__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.singleproject__headerwraper{
    background-color: #66fcf1;
    border-radius: 10px;
}
.singleproject__headeritems{
    display: flex;
    flex: 0.3;
    justify-content: space-around;
    align-items: baseline;
}
.singleproject__body> h2:hover{
    color:#66fcf1;
}
.singleproject__languagesused{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.singleproject__languagesused.social > img{
    width:30px;
}