.projects{
    padding: 2% 10%;
    background-color: #0b0c10;
    transition: all ease-in 0.3s;
    color: #c5c6c7;
}
.projects__header{
    color: #66fcf1;
    font-size: 2rem;
    font-weight: lighter;
    padding-right: 1rem;
}
.projects > h1{
    margin-left:0.7%;
    font-size: 3rem;
    transition: all cubic-bezier(0, 0.51, 1, 0.82) 0.2s;
    font-weight: lighter;
}
.projects>h1:hover{
    color: #66fcf1;
}
.projects>h1::after{
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    position: relative;
    top: 0.2em;    
    background-color: #66fcf1;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    opacity: 0.7;
}
.projects>h1:hover::after{
    width:50%;
}
.projects__grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.singleproject{
    display: flex;
    width: 26.8%;
    border: 2px solid #66fcf14d;
    padding: 3% 2%;
    margin: 1%;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    border-radius: 10px;
    flex-direction: column;
}
.singleproject:hover{
    border-color: #66fcf1;
}
.singleproject__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.singleproject__headerwraper{
    background-color: #66fcf1;
    border-radius: 10px;
}
.singleproject__headeritems{
    display: flex;
    flex: 0.3;
    justify-content: space-around;
    align-items: baseline;
}
.singleproject__body> h2:hover{
    color:#66fcf1;
}
.singleproject__languagesused{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.singleproject__languagesused.social > img{
    width:30px;
}
@media only screen and (max-width: 415px){
    .projects>h1{
        font-size: 2rem;
    }
    .projects__header{
        font-size: 1.4rem;
    }
    .projects__grid{
        flex-direction: column;
        align-content: space-around;
    }
    .singleproject{
        width:100%;
        margin:4% 1%;
        padding: 4% 4%;
    }
    .singleproject__body>h2{
        font-size: 1.5rem;
        margin: 11px 0px;
    }
    .singleproject__body>p{
        font-size: 0.9rem;
    }
    .projects>h1:hover::after{
        width:100%;
    }
}