.header{
    display:flex;
    color:white;
    background-color: #0b0c10;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
}
.header > img{
    width:20%;
    /* animation-name: signatureroll; */
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
}
@keyframes signatureroll{
    0%{transform: rotateY(0deg);}
    50%{transform:translateX(400px) rotateY(180deg) ;}
    100%{transform: rotateY(360deg);}
}
.signature:hover{
    /* animation-name: signaturerollhover; */
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
}

@keyframes signaturerollhover{
    0%{transform: rotateY(0deg);}
    50%{transform: rotateX(360deg) rotateY(180deg);}
    100%{transform: rotateY(360deg);}
}
.header__option{
    display: flex;
    padding-right: 20px;
}
a{
    color: currentColor;
    text-decoration: none;
}
a:active{
    color: #0b0c10;
}
.header__optionelement{
    display:flex ;
    flex-direction: column;    
    padding-right: 3px;
    margin: 0px 20px;   
}
.header__optionelement:hover{
    color:#66fcf1;
}
.header__optionelementbody{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: baseline;
}
.header__optionelement::after{
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    position: relative;
    top: 0.2em;    
    background-color: #66fcf1;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    opacity: 0.7;
}
.header__optionelement:hover::after {
    width:101%;
}
     
.header__optionelementnumber{
    margin:0px;
    font-weight: lighter;
    color:#66fcf1;
    margin-right: 4px;
}
.header__optionelementname{
    margin:0;
    font-weight: 600;
}
.header__burger{
    display: flex;
    flex-direction: column;
}
.header__burgercrumb{
    height: 4px;
    margin: 2px 0px;
    width: 30px;
    border-radius: 4px;
    background-color: aqua;
}
.header__nav{
    display: flex;
    flex-direction: column;
    color: #0b0c10;
    background-color: aqua;
    position: absolute;
    padding: 35vh 16vh 40vh 16vh;
    margin: 5% 25% 0% -90%;
    animation-name: navbar;
    animation-timing-function: cubic-bezier(0, 0.85, 1, 1);
    animation-duration: 0.3s;
    transition: all ease-in-out 0.5s;
}
@keyframes navbar{
    0%{transform: translateY(-530px);}
    100%{transform: translateY(0px);}
}
.header_burger{
    transition: all ease-in .5s;
}


@media only screen and (max-width:415px){
    .header{
        padding: 10px 15px 10px 0px;
    }
    .cross{
        width:35px
    }
    .header>img{
        width:60%;
    }
    .header__optionelementnumber{
        color:#0b0c10
    }
    .header__optionelement:hover{
        color: #0b0c10;
    }
    .header__optionelement:hover::after{
        width:0px;
    }
}
@media only screen and (width:375px){
    .header__nav{
        padding: 35vh 14.9vh 40vh 14vh;
    }
}
@media only screen and (width:360px){
    .header__nav{
        padding: 35vh 16.9vh 36vh 17vh;
    }
}

