.social{
    display: flex;
    justify-content: center;
    flex:0.12;
    transition: all cubic-bezier(0.4, 0, 1, 1) 0.5s;
}
.social:hover{
    transform: rotate(360deg);
}
.socialimg{
    width:25px;
    background-color: #c5c6c7;
    padding: 5px;
    border-radius: 10px;
}
.socialimg:hover{
    background-color: #66fcf1;
}