.blog{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 2% 10%;
    background-color: #1f2833;
    transition: all ease-in 0.3s;
    color: #c5c6c7;
}
.blog__left{
    display: flex;
    flex-direction: column;
    flex:1;
}
.blog__header{
    color: #66fcf1;
    font-size: 2rem;
    font-weight: lighter;
    padding-right: 1rem;
}
.blog__left > h1{
    font-size: 3rem;
    transition: all cubic-bezier(0, 0.51, 1, 0.82) 0.2s;
    font-weight: lighter;
}
.blog__left>h1:hover{
    color: #66fcf1;
}
.blog__left>h1::after{
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    position: relative;
    top: 0.2em;    
    background-color: #66fcf1;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    opacity: 0.7;
}
.blog__left>h1:hover::after{
    width:60%;
}
.blog__container{
    display: flex;
    width: 70%;
    margin: 35px 20% 35px 0px;
    padding: 10px;
    transition: all cubic-bezier(0, 0.51, 1, 0.82) 0.2s;
    border: 2px solid #66fcf14d;
    border-radius: 11px;
}
.blog__container:hover{
    border-color: #66fcf1;
}
.singleblog__card{
    display: flex;
}
.singleblog__cardinfo{
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
}
.singleblog__cardinfo>h2:hover{
    color:#66fcf1;
}
.blog__container>a{
    color: beige;
    text-decoration: none;
}
.singleblog__card > img{
    width:50%;
}
.blog__right{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    flex:0.6;
}
.blog__right > h1{
    font-size: 3rem;
    transition: all cubic-bezier(0, 0.51, 1, 0.82) 0.2s;
    font-weight: lighter;
}
.blog__right>h1:hover{
    color: #66fcf1;
}
.blog__right>h1::after{
    content: "";
    display: block;
    width: 0px;
    height: 3px;
    position: relative;
    top: 0.2em;    
    background-color: #66fcf1;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    opacity: 0.7;
}
.blog__right>h1:hover::after{
    width:100%;
}
.blog__righttech{
    display: flex;
    margin: 32px 0px;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
}
.blog__righttech>img{
    width:4%;
}
@media only screen and (max-width:415px){
    .blog__left > h1{
        font-size: 2rem;
    }
    .blog__header{
        font-size: 1.4rem;
    }
    .blog__container{
        width:100% ;
        align-self: center;
        margin:25px 0px;
    }
    .singleblog__card{
        flex-direction: column;
    }
    .singleblog__card>img{
        width: 100%;
    }
    .singleblog__cardinfo{
        padding: 0px;
    }
    .singleblog__cardinfo > h2{
        font-size: 1rem;
    }
    .singleblog__cardinfo>p{
        margin: 0;
        font-size: 0.8rem;
    }
    .blog__right >h1{
        font-size: 1.4rem;
    }
    .blog__righttech{
        flex-wrap: wrap;
        margin: 10px 0px;
    }
    .blog__righttech > img{
        padding: 5px;
        width:16%;
    }
}