.icon{
    display: flex;
    justify-content: center;
    flex:0.12;
}
.icon:hover{
    transform: rotate(360deg);
}
.iconimg{
    width:25px;
    padding: 5px;
    border-radius: 10px;
}
@media only screen and (max-width: 415px){
    .iconimg{
        width:16px;
    }
}