.app{
  background-color: #0b0c10;
  color: white;
  display: flex;
  padding-right: 4%;
  border-bottom: 1px solid #1f2833;
  justify-content: flex-end;
  align-items: center;
}
.app>h1{
  margin: 0;
  font-size: 1rem;
  padding: 4px;
  font-weight: 400;
}
@media only screen and (max-width:415px){
  .app{
    padding: 0px;
    justify-content: center;
  }
  .app>img{
    width:17px
  }
  .app>h1{
    font-size: 0.8rem;
  }
}


